@use '../base/variables' as v;
@use '../base/mixins' as m;

.header{
    width: 100%;
    background: black;
    height: 25rem;
}

@include m.tablet{
   .header{
        height: 9.5rem;
    } 
    .reference{
        text-align: center;
        width: 13rem;
    }
}

.header_aux{
    text-align: center;
    background-color: black;
    align-items: center;
    height: 100%;
        
    h2{
        font-weight: 400;
        color: white;
        span{
            font-weight: 800;
        }
    }

    .reference{
        font-size: 1.6rem;
        margin: 0 0rem;
        color: white;
        padding:  3rem 2.5rem;

        &:hover{
            background-color: v.$yellow;
            color: black;
        }
    }

    .links{
        display: flex;
        flex-direction: column;
    }

    .title h2{
        font-size: 3rem;
        padding: 2.5rem 2rem 1.5rem 2rem
    }

}

@include m.phone{
    .header_aux{
        display: flex;
        justify-content: center;
        flex-direction:row;
        justify-content: space-between;

        .links{
            display: flex;
            flex-direction: row;
        }
        .title h2{
            padding: 2rem 4rem;
        }
    }
}