@use '../base/variables' as v;
@use '../base/mixins' as m;

.section-title{
    margin-bottom: 0;
    padding: 2rem 0 0 0;
}

.portfolio{
    .card{
        padding-top: 2rem;
    }


    img{
        width: 100%;
        height: auto;
    }
}

@include m.tablet{
    .portfolio{
        @include m.grid(2, 3rem);
        img{
            width: 100%;
            height: auto;
        }
    }
    
}

@include m.desktop{
    .portfolio{
        @include m.grid(4, 2.5rem);

        img{
            width: 100%;
            height: auto;
        }
    }
    
}