@use 'variables' as v;

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body {
    background-color: v.$backColor;
    font-family: v.$mainFont;
    font-size: 1.6rem;
}

.content{
    width: 120rem;
    max-width: 90%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.text-center{
    text-align: center;
}

.btn{
    margin: 0 auto;
    background-color: v.$yellow;
    color: black;
    display: block;
    padding: 1rem;
    font-weight: 600;
    font-size: 2rem;
    border-radius: 0.2rem;
    &:hover{
        background-color: black;
        color: white;
    }
}