@use 'variables' as v;

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body {
    background-color: v.$backColor;
    font-family: v.$mainFont;
    font-size: 1.6rem;
}

.content{
    width: 120rem;
    max-width: 90%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.text-center{
    text-align: center;
}