@use 'variables' as v;

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after{
    box-sizing: inherit;
}

body {
    background-color: v.$backColor;
    font-family: v.$mainFont;
    font-size: 1.6rem;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(183,7,234,0.5551032913165266) 0%, rgba(11,11,156,1) 0%, rgba(255,255,255,0.7006671348314606) 0%, rgba(242,243,244,1) 100%);
}

.content{
    width: 120rem;
    max-width: 90%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

h3{
    font-size: 2rem;
}

.text-center{
    text-align: center;
}

.btn{
    margin: 0 auto;
    background-color: v.$yellow;
    color: black;
    display: block;
    padding: 1rem;
    font-weight: 600;
    font-size: 2rem;
    border-radius: 0.2rem;
    &:hover{
        background-color: black;
        color: white;
    }
}